.blogsOuter {
    padding: 80px 0;

    &__container {
        padding: 0 50px;
        display: grid;
        grid-template-columns: 260px 1fr;
        gap: 40px;

        @media(max-width: 575px) {
            padding: 0 20px;
        }
    }

    &__sidebar {
        background: #E4DCDD;
        border-radius: 14px;
        padding: 20px;
        height: fit-content;
    }

    &__categories {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__category {
        padding: 12px 16px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        color: #540B0E;
        transition: all 0.25s ease;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &:hover {
            background: #D7B5B6;
        }

        &.is-active {
            background: #D7B5B6;
        }
    }


    &__content {
        width: 100%;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    &__card {
        // background: #fff;
        // border-radius: 16px;
        overflow: hidden;
        // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    }

    &__cardLink {
        display: block;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    &__imageWrap {
        position: relative;
        width: 100%;
        height: auto;
        // aspect-ratio: 16 / 9;
        border-radius: 5px;
        overflow: hidden;
    }

    &__image {
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px 0;
        font-size: 12px;
    }

    &__tag {
        background: #D9D9D9;
        color: #540B0E;
        font-size: 16px;
        text-transform: uppercase;
        padding: 5px 20px;
        border-radius: 30px;

        @media(max-width: 1024px) {
            padding: 5px 10px;
            font-size: 15px;
        }

        @media(max-width: 575px) {
            padding: 5px 10px;
            font-size: 15px;
        }
    }

    &__date {
        color: #540B0E;
        font-size: 18px;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            font-size: 15px;
        }

        @media(max-width: 575px) {
            font-size: 15px;
        }
    }

    &__title {
        padding: 12px 0px 20px;
        font-size: 22px;
        color: #540B0E;
        // text-transform: uppercase;
        // line-height: 1.1;
        font-family: var(--font-open-sans);
        font-weight: 400;

        @media(max-width: 575px) {
            font-size: 20px;
        }
    }


    &__loadMoreWrap {
        margin-top: 50px;
        text-align: center;
    }

    &__loadMore {
        background: transparent;
        border: 1px solid #540B0E;
        color: #540B0E;
        padding: 12px 34px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        transition: all 0.25s ease;

        &:hover {
            background: #540B0E;
            color: #fff;
        }
    }

    @media (max-width: 991px) {
        &__container {
            grid-template-columns: 1fr;
        }

        &__grid {
            grid-template-columns: 1fr;
        }
    }
}