.aboutTab {
  padding: 80px 40px;

  &__container {
    // padding: 0 40px;
    // max-width: 1200px;
    // margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 40px;
    max-width: 50%;
    margin: 0 auto;
    color: #540B0E;
    @media(max-width: 768px) {
      max-width: 100%;
    }
  }


  &__tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
    // flex-wrap: wrap;
  }

  &__tab {
    padding: 12px 50px;
    border-radius: 8px;
    background-color: #DDDDDD;
    color: #540B0E;
    border: none;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #8D5F5F;
      color: #ffffff;
    }

    &.is-active {
      background-color: #8D5F5F;
      color: #ffffff;
    }
  }

 
  &__content {
    background-color: #540B0E;
    border-radius: 14px;
    padding: 40px;
    overflow: hidden;
    animation: fadeSlide 0.4s ease;
  }

  &__contentInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
  }

  &__text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0;
  }

  &__subtitle {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__description {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    // line-height: 1.7;
    max-width: 520px;
    @media(max-width: 768px) {
      max-width: 100%;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;

    img {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }


  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media (max-width: 991px) {
    &__contentInner {
      grid-template-columns: 1fr;
    }

    &__image {
    //   height: 240px;
    }
  }

  @media (max-width: 575px) {
    padding: 60px 20px;

     &__tabs {
        flex-wrap: wrap;
        margin-bottom: 20px;
     }

    &__tab {
      padding: 10px 24px;
      font-size: 16px;
    }
    &__image {
      height: auto;
    }

    &__content {
      padding: 28px;
    }
    &__contentInner {
      gap: 20px;
    }
    &__text {
        padding: 0;
    }

    &__title {
        max-width: 100%;
      font-size: 30px;
    }
    &__subtitle {
        font-size: 25px;
    }
    &__description {
      font-size: 15px;
    }
  }
}
