.knowledge-space {
  padding: 80px 0;

  &__container {
    // max-width: 1280px;
    // margin: 0 auto;
    padding: 0 50px;
    margin: 0 -50px 0 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 50px 0 0;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    color: #540B0E;
    text-transform: uppercase;
    line-height: 1.1;
  }

  &__nav {
    display: flex;
    gap: 12px;
  }

  &__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #540B0E;
    background: transparent;
    color: #540B0E;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background: #540B0E;
      color: #fff;
    }
  }

  // &__slider {
  //   padding-bottom: 10px;
  // }
}

.knowledge-card {
  background: #fff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    height: 300px;
    background: #eee;
  }

  &__img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  &__badge {
    position: absolute;
    top: 12px;
    left: 12px;
    // background: rgba(0, 0, 0 , 0.7);
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
  }

  &__content {
    padding: 40px 20px;

    p {
      font-size: 25px;
      line-height: 1.2;
      font-weight: 400;
      color: #000;
    }
  }
}

@media (max-width: 768px) {
  .knowledge-space {
    padding: 60px 0;

    &__title {
      font-size: 28px;
    }
  }

  .knowledge-card__image {
    height: 200px;
  }
}
@media(max-width: 575px){
  .knowledge-space {
   &__container {
    padding: 0 20px;
    margin: 0 -20px 0 0;
  }
}
}
