.service-hover-cards {
    position: relative;
    padding: 80px 0;
    overflow: hidden;

    &__wrapper {
        margin: 0 50px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        // gap: 40px;
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 100px 0 50px;
    }

    &__title {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 400;
        color: #540B0E;
        text-transform: uppercase;
        max-width: 370px;
    }

    &__button {
        margin-top: 40px;
        align-self: flex-start;
        background-color: #6b1b1b;
        color: #fff;
        text-transform: uppercase;
        border: none;
        padding: 12px 22px;
        border-radius: 30px;
        font-size: 14px;
        letter-spacing: 0.5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        transition: background 0.3s ease;

        &:hover {
            background-color: #4e1313;
        }
    }

    &__arrow {
        font-size: 18px;
    }

    &__divider {
        background-color: #000;
        width: 1px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__info {
        position: relative;
        border-bottom: 1px solid #000;
        padding: 120px 50px 50px;
        // padding-top: 160px;
        &:last-child {
            border-bottom: 0;
        }
    }

    &__description {
        font-size: 20px;
        // line-height: 1.6;
        color: #9D9D9D;
        // max-width: 360px;
    }


    &__image {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
        transition: opacity 0.3s ease, transform 0.2s ease-out;
        z-index: 5;

        img {
            // border-radius: 14px;
            max-width: 100%;
            height: auto;
            object-fit: cover;
            //   box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
            //   background: #fff;
        }

        &.is-active {
            opacity: 1;
        }
    }

    @media (max-width: 1024px) {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__divider {
            display: none;
        }

        &__info {
            // padding-top: 40px;
            padding: 50px 50px 50px 0;
;
        }

        &__image {
            display: none;
        }
    }

    @media (max-width: 640px) {
        padding: 60px 0;
        &__wrapper{
            margin: 0 20px;
            border-top: none;
        }
        &__info {
            padding: 50px 0px 30px 0;
;
        }

        &__title {
            font-size: 30px;
        }

        &__description {
            font-size: 16px;
        }
    }
}