.truely-matters {
  padding: 80px 40px;
  @media(max-width: 575px){
    padding: 40px 20px;
  }
}

.tm-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

.tm-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  h2 {
    font-size: 40px;
    letter-spacing: 1px;
    color: #540B0E;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.2;
  }

  p {
    font-size: 17px;
    // line-height: 1.7;
    color: #000;
    max-width: 380px;
  }
}

/* Divider */
.tm-divider {
  width: 1px;
  background: #000;
}

/* Right */
.tm-right {
  display: flex;
  flex-direction: column;
}

.tm-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px 30px;
  border-bottom: 1px solid #000;

  &:last-child {
    border-bottom: none;
  }
}

.tm-icon img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.tm-text {
  h4 {
    font-size: 30px;
    font-weight: 400;
    color: #000;
    margin-bottom: 6px;
    // letter-spacing: 0.5px;
  }

  p {
    font-size: 15px;
    color: #000;
    // line-height: 1.6;
    max-width: 320px;
  }
}

@media (max-width: 991px) {
  .tm-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .tm-divider {
    display: none;
  }

  .tm-left p {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .tm-left h2 {
    font-size: 30px;
  }

  .tm-item {
    padding: 20px 0;
  }
}
