.contact-us-map {
  width: 100%;
  padding: 80px 0;
    
  &__container {
    padding: 0 50px;
  }

  &__card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 17px 28px 4px #00000040; 
  }

  &__iframe-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
  }

  &__iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 16px;
  }
}
// .contact-us-map__iframe {
//   pointer-events: none;
//   transition: opacity 0.3s ease;

//   &.is-active {
//     pointer-events: auto;
//   }
// }

@media (max-width: 1024px) {
  .contact-us-map {
    padding: 60px 0;
   
  }
}

@media (max-width: 768px) {
  .contact-us-map {
    padding: 50px 0;
  }
}

@media (max-width: 480px) {
  .contact-us-map {
    padding: 40px 0;

    &__container {
      padding: 0 20px;
    }
  }
}
