.heroAbout {
  width: 100%;
//   padding: 60px 20px;

  &__container {
    padding: 0 50px;
    // max-width: 1200px;
    // margin: 0 auto;
    @media (max-width: 575px) {
      padding: 0 0px;
    }
  }

  &__imageWrapper {
    position: relative;
    width: 100%;
    // height: 520px;
    height: 100vh;
    border-radius: 20px;
    overflow: hidden;
  }

  &__image {
    max-width: 100%;
    height: 100%;
    // object-fit: cover;
  }

  &__content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    );
  }

  &__title {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
  }

  &__button {
    padding: 14px 36px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 12px;
    background-color: #9c6b63;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #8b5c55;
      transform: translateY(-1px);
    }
  }
}


@media (max-width: 1024px) {
  .heroAbout {
    &__imageWrapper {
    //   height: 420px;
      height: 100vh;
    }

    &__title {
      font-size: 34px;
    }
  }
}

@media (max-width: 768px) {
  .heroAbout {
    padding: 40px 20px;
    &__container {
      padding: 0 20px;
    }   
    &__imageWrapper {
      height: 80vh;
      border-radius: 16px;
    }

    &__title {
      font-size: 28px;
    }

    &__button {
      padding: 12px 30px;
      font-size: 13px;
    }
  }
}

@media (max-width: 480px) {
  .heroAbout {
    padding: 0px 20px;
    &__imageWrapper {
      height: 50vh;
    }
    &__container {
      padding: 0;
    } 

    &__title {
      font-size: 22px;
    }

    &__button {
      padding: 10px 24px;
      font-size: 12px;
    }
  }
}
