.about-story {
    padding: 80px 40px;

    @media (max-width: 768px) {
        padding: 60px 24px;
    }

    @media (max-width: 480px) {
        padding: 48px 20px;
    }
}

.about-story__container {
    //   max-width: 1200px;
    //   margin: 0 auto;

    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    gap: 100px;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    @media (max-width: 1024px) {
        // grid-template-columns: 1fr 1fr;
        gap: 48px;
    }

    @media (max-width: 768px) {
        // grid-template-columns: 1fr;
        gap: 40px;
        flex-direction: column;
    }
}


.about-story__content {
    //   max-width: 520px;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    @media (max-width: 1024px) {
        // grid-template-columns: 1fr 1fr;
        gap: 48px;
    }

    @media (max-width: 768px) {
        gap: 0px;
        max-width: 100%;
        flex-direction: column;
    }
}

.about-story__title {
    font-size: 40px;
    font-weight: 400;
    // letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #540B0E;
    // margin-bottom: 24px;
}

.about-story__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    p {
        font-size: 26px;
        max-width: 500px;
        // line-height: 1.7;
        color: #1E1E1E;

        @media(max-width: 1024px) {
            max-width: 100%;
            font-size: 20px;
        }
    }
}

/* Image */
.about-story__image-wrapper {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1024px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        height: auto;
    }

    @media (max-width: 768px) {
        justify-content: flex-start;
    }
}

.about-story__image {
    width: 100%;
    height: auto;
    border-radius: 14px;
    object-fit: cover;
}