.scroll-fill-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
}

.scroll-fill-text {
  font-size: 90px;
  font-weight: 400;
  line-height: 1.01;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.scroll-word {
  margin-right: 1rem;
}

.scroll-letter {
  color: #fff;
  display: inline-block;
}

@media (max-width: 575px) {
  .scroll-fill-text {
    font-size: 36px;
    line-height: 1.2;
    padding: 0 10px;
  }
}
