.contactUsHero {
    padding: 80px 0;

    &__container {
        padding: 0 50px;

        @media(max-width: 575px) {
            padding: 0 20px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
        gap: 24px;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        color: #540B0E;
        // letter-spacing: 1px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 1.1;
        color: #1E1E1E;
        max-width: 260px;
        text-align: right;
    }


    &__imageWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 28px;
        overflow: hidden;
    }

    &__image {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
    }


    &__cta {
        position: absolute;
        right: 12.5%;
        bottom: 1%;
        background-color: transparent;
        // background-color: #fff;
        color: #5b0f0f;
        border: none;
        padding: 14px 28px;
        border-radius: 999px;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
        @media(max-width: 1300px){
            right: 11.5%;
        }
        @media(max-width: 1250px){
            right: 12.5%;
            font-size: 18px;
        }
        @media(max-width: 1200px){
            right: 11.5%;
            font-size: 18px;
        }
        @media(max-width: 1080px){
            right: 11%;
            font-size: 18px;
        }

        // &:hover {
        //   background-color: #5b0f0f;
        //   color: #fff;
        //   transform: translateY(-2px);
        // }
    }
}


@media (max-width: 992px) {
    .contactUsHero {
        &__header {
            flex-direction: column;
            align-items: flex-start;
        }

        &__subtitle {
            text-align: left;
            max-width: 100%;
        }

        &__imageWrapper {
            height: 420px;
        }
    }
}

@media (max-width: 575px) {
    .contactUsHero {
        padding: 20px 0;

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 14px;
        }

        &__imageWrapper {
            height: 300px;
            border-radius: 20px;
        }

        &__cta {
            padding: 12px 22px;
            font-size: 13px;
        }
    }
}