:root {
  --background: #F0EBE5;
  /* --foreground: #171717; */
  --font-helvetica-neue: "HelveticaNeue"
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F0EBE5;
    /* --foreground: #ededed; */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-helvetica-neue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
p{
   font-family: var(--font-helvetica-neue);
}
h1{
   font-family: var(--font-helvetica-neue);
}
h2{
   font-family: var(--font-helvetica-neue);
}
h3{
   font-family: var(--font-helvetica-neue);
}
h4{
   font-family: var(--font-helvetica-neue);
}
h5{
   font-family: var(--font-helvetica-neue);
}
h6{
   font-family: var(--font-helvetica-neue);
}
span{
   font-family: var(--font-helvetica-neue);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
