.related-blogs {
  padding: 80px 0;

  .swiper-slide {
    height: auto;
  }
  &__container {
    padding: 0 0px 0 50px;
    display: flex;
    @media(max-width: 575px){
        display: block;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 40px;
    padding-right: 50px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    color: #540b0e;
    text-transform: uppercase;
    line-height: 1.1;
  }

  &__nav {
    display: flex;
    gap: 12px;
  }

  &__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #540b0e;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background: #540b0e;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}



.related-blog-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__image {
    position: relative;
    height: 300px;
    background: #eee;
  }

  &__img {
    object-fit: cover;
  }

  &__content {
    padding: 20px 0px 32px 0;

    @media (max-width: 575px) {
      padding: 20px 0;
    }
  }

  &__contentInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  &__category {
    display: inline-block;
    font-size: 18px;
    color: #540b0e;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: #d9d9d9;
    border-radius: 30px;
    padding: 5px 20px;
    @media(max-width: 575px){
        font-size: 15px;
    }
  }

  &__date {
    display: inline-block;
    font-size: 18px;
    color: #540b0e;
    margin-bottom: 10px;
    text-transform: uppercase;
    @media(max-width: 575px){
        font-size: 15px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    color: #540b0e;
    text-transform: uppercase;

    @media (max-width: 575px) {
      font-size: 18px;
    }
  }
}



@media (max-width: 768px) {
  .related-blogs {
    padding: 60px 0;

    &__title {
      font-size: 28px;
    }
  }

  .related-blog-card__image {
    height: 200px;
  }
}

@media (max-width: 575px) {
  .related-blogs {
    &__container {
      padding: 0 20px;
    //   margin-right: -20px;
    }
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20px;
        margin-bottom: 20px;
    }
  }
}
