.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 16px 40px;

  @media (max-width: 575px) {
    padding: 15px 20px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}



.desktop-nav {
  @media (max-width: 992px) {
    display: none;
  }

  ul {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 6px;
    border-radius: 999px;
  }

  li a {
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }

  li.active a,
  li a:hover {
    background: #e5d6d0;
  }
}



.header-cta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-btn {
  background: #000;
  height: 35px;
  background-size: 400%;
  color: #fff;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

.contact-btn:hover::before {
  transform: scaleX(1);
}

.contactInner {
  position: relative;
  z-index: 1;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: #540B0E;
  transition: all 0.475s;
}

// .contact-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: #000;
//   text-decoration: none;
//   border: 1px solid #000;
//   border-radius: 999px;
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   background: transparent;
//   position: relative;
//   transition: all 1s;
//   overflow: hidden;
// }

// .contact-btn:hover {
//   color: white;
// }

// .contact-btn::before {
//   content: "";
//   position: absolute;
//   height: 100%;
//   width: 0%;
//   top: 0;
//   left: -40px;
//   transform: skewX(45deg);
//   background-color: #540B0E;
//   z-index: -1;
//   transition: all 1s;
// }

// .contact-btn:hover::before {
//   width: 160%;
// }




.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 200;

  span {
    width: 22px;
    height: 2px;
    background: #000;
    display: block;
  }

  @media (max-width: 992px) {
    display: flex;
  }
}

// .mobile-menu ul,
// .mobile-socials {
//   pointer-events: none;
// }

// .mobile-menu.open ul,
// .mobile-menu.open .mobile-socials {
//   pointer-events: auto;
// }


.mobile-menu {
  position: fixed;
  inset: 0;
  // pointer-events: none;
  z-index: 99;

  @media (min-width: 993px) {
    display: none;
  }

  ul {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    text-align: center;
    pointer-events: auto;
  }

  li {
    margin-bottom: 24px;

    a {
      font-size: 24px;
      color: #000;
      text-decoration: none;
    }
  }

  .mobile-socials {
    position: absolute;
    bottom: 40px;
    left: 0%;
    margin: 0 auto;
    width: 100%;
    // transform: translateX(-50%);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    padding: 0 20px;
    padding-bottom: 40px;

    a {
      font-size: 20px;
      font-weight: 400;
      color: #000;
      text-decoration: none;
      position: relative;
      padding-bottom: 4px;
      transition: color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #000;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover {
        color: #540B0E;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

}

.mobile-bg {
  position: absolute;
  inset: 0;
  background: #fff;
  // z-index: 100;
}