.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 16px 40px;

  @media (max-width: 575px) {
    padding: 15px 20px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

/*Desktop Nav*/

.desktop-nav {
  @media (max-width: 992px) {
    display: none;
  }

  ul {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 6px;
    border-radius: 999px;
  }

  li a {
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }

  li.active a,
  li a:hover {
    background: #e5d6d0;
  }
}



.header-cta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-btn {
  background: #000;
  color: #fff;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 15px;
  text-decoration: none;
}



.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 200;

  span {
    width: 22px;
    height: 2px;
    background: #000;
    display: block;
  }

  @media (max-width: 992px) {
    display: flex;
  }
}



.mobile-menu {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 99;

  @media (min-width: 993px) {
    display: none;
  }

  ul {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    text-align: center;
    pointer-events: auto;
  }

  li {
    margin-bottom: 24px;

    a {
      font-size: 24px;
      color: #000;
      text-decoration: none;
    }
  }
}

.mobile-bg {
  position: absolute;
  inset: 0;
  background: #fff;
  // z-index: 100;
}
