.blogsInnerHero {
//   margin-bottom: 60px;
  padding: 40px 50px;
  @media(max-width: 575px){
    padding: 20px 20px;
  }

  &__imageWrap {
    position: relative;
    // height: 420px;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
    border-radius: 20px;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: #00000033;
    // background: linear-gradient(
    //   90deg,
    //   rgba(80, 30, 25, 0.85),
    //   rgba(35, 95, 45, 0.85)
    // );
    z-index: 1;
  }

  &__content {
    position: absolute;
    inset: 0;
    z-index: 2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    // max-width: 1000px;
    color: #540B0E;
    padding: 20px 100px;
    font-size: 40px;
    text-align: left;
    margin: 0 auto;
    text-transform: uppercase;
    // line-height: 1.2;
    font-weight: 500;
    @media(max-width: 768px){
      padding: 20px 50px;
    }
    @media(max-width: 575px){
      padding: 20px 20px;
    }
    @media(max-width: 475px){
      padding: 20px 0px;
    }
  }

  &__category {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: #fff;
    color: #540B0E;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    &__imageWrap {
      height: 300px;
    }

    &__title {
      font-size: 24px;
    }

    &__content {
      padding: 30px;
    }
  }
  @media (max-width: 575px) {

    &__title {
      font-size: 18px;
    }

    &__content {
      padding: 30px;
    }
    &__category {
        font-size: 18px;
    }
  }
}
