.faqs {
  padding: 100px 0;
  background-color: #ffffff;

  &__container {
    // max-width: 1200px;
    // margin: 0 auto;
    padding: 0 50px 0 80px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    // gap: 80px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    color: #540B0E; 
  }

  &__cta {
    background: none;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 6px;
    color: #000;
    cursor: pointer;
    width: fit-content;
    font-family: "helveticaNeue";

   
  }

  /* RIGHT */
  &__right {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-bottom: 1px solid #000;
    transition: border-color 0.3s ease;

    &.is-active {
      border-color: #540B0E;
    }
  }

  &__question {
    width: 100%;
    background: none;
    border: none;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    text-align: left;

    span:first-child {
      max-width: 90%;
    }
  }

  &__icon {
    font-size: 18px;
    font-weight: 300;
  }

  &__answer-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease;
  }

  &__answer {
    overflow: hidden;
    font-size: 17px;
    line-height: 1.3;
    color: #929292;
    padding-bottom: 0;
  }

  .is-active &__answer-wrapper {
    grid-template-rows: 1fr;
    padding-bottom: 20px;
  }

  .is-active &__answer {
    // margin-bottom: 20px;
  }

  @media (max-width: 991px) {
    &__container {
      grid-template-columns: 1fr;
      gap: 48px;
    }

    &__title {
      font-size: 40px;
    }
  }

  @media (max-width: 576px) {
    // padding: 70px 0;
    &__container {
      padding: 0 20px 0 20px;
    }

    &__title {
      font-size: 32px;
    }

    &__question {
      font-size: 15px;
    }

    &__answer {
      font-size: 15px;
    }
  }
}
