.footer {
  padding-top: 80px;
  color: #000;

  &__container {
    // max-width: 1320px;
    // margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 80px;
  }

  &__headline {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 40px;
    text-transform: lowercase;
  }

  &__brand {
    margin-bottom: 24px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.3;
    max-width: 400px;
    color: #3F3F3F;
  }

  &__right{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    margin-bottom: 50px;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 20px;

        a {
          text-decoration: none;
          color: #000;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 0.5px;
          transition: opacity 0.2s ease;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  &__contact {
  display: flex;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  // margin-bottom: 40px;
  background: #ffffff;
  border-radius: 0;
  // overflow: hidden;

  &-item {
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #000;
    width: 100%;
    min-height: 50px;
    

    .icon {
      background: #540B0E;
      color: #fff;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      flex-shrink: 0;
    }

    a {
      padding: 0 24px;
      font-size: 16px;
      font-weight: 400;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      @media(max-width: 575px){
        font-size: 15px;
        padding: 0 10px;
    }
    }
  }
}

  &__socials {
    display: flex;
    gap: 24px;
    // justify-content: space-between;

    a {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #808080;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }
  .footer-visual {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 150px 0 100px;
  // padding: clamp(40px, 6vw, 100px) 0;
  display: flex;
  align-items: center;
  justify-content: center;
   @media(max-width: 850px){
    padding: 70px 0;
  }
  @media(max-width: 650px){
    padding: 50px 0;
  }
  @media(max-width: 575px){
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.footer-visual__text {
  font-size: clamp(64px, 30vw, 320px);
  font-weight: 500;
  // letter-spacing: -0.04em;
  text-transform: uppercase;
  line-height: 0.9;
  color: #000;
  z-index: 1;
  pointer-events: none;
  white-space: nowrap;
  @media(max-width: 1300px){
    font-size: 22vw;
  // font-size: clamp(64px, 30vw, 220px);
  }
}


.footer-visual__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  // width: min(1400px, 100%);
  // height: clamp(160px, 28vw, 380px);
  z-index: 2;

  img {
    object-fit: contain;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    display: block;
  }
}


// @media (max-width: 768px) {
//   .footer-visual {
//     padding: 60px 0 40px;
//   }

//   .footer-visual__text {
//     font-size: clamp(56px, 22vw, 140px);
//   }

//   .footer-visual__image {
//     height: 220px;
//   }
// }

}


@media (max-width: 992px) {
  .footer {
    &__container {
      grid-template-columns: 1fr;
      gap: 60px;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    padding-top: 60px;

     &__container {
      padding: 0 20px;
    }

    &__headline {
      font-size: 28px;
    }

    &__links {
      grid-template-columns: 1fr;
      gap: 32px;
      margin-bottom: 0;
    }

    &__contact {
      flex-direction: column;
      align-items: flex-start;
    }

    &__socials {
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}
