.hero-service {
    padding: 60px 0 0;

    &__container {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }


    &__header {
        display: flex;
        // align-items: flex-start;
        align-items: end;
        justify-content: space-between;
        gap: 40px;
    }

    &__title {
        flex: 1;
        font-size: 40px;
        font-weight: 500;
        color: #540B0E;
        text-transform: uppercase;
        line-height: 1.1;
        max-width: 400px;
    }

    &__description {
        max-width: 260px;
        font-size: 20px;
        // line-height: 1.6;
        color: #1E1E1E;
        text-align: right;
    }


    &__image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        // border-radius: 24px;
        overflow: hidden;
    }

    &__image {
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}



@media (max-width: 992px) {
    .hero-service {
        &__title {
            font-size: 30px;
        }
    }
}

@media (max-width: 768px) {
    .hero-service {
        padding: 40px 0 0;

        &__header {
            flex-direction: column;
            gap: 16px;
        }

        &__description {
            max-width: 100%;
            text-align: left;
        }
    }
}

@media (max-width: 575px) {
    .hero-service {

        &__container {
            padding: 0 20px;
        }

        &__title {
            font-size: 30px;
        }
    }
}