.related-projects {
    padding: 80px 0;

    &__container {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        gap: 100px;
        @media(max-width: 768px){
           display: block;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        color: #540b0e;
        line-height: 1.1;
    }

    &__nav {
        display: flex;
        gap: 12px;
    }

    &__btn {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid #540b0e;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;

        &:hover {
            background: #540b0e;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.related-project-card {
    cursor: pointer;

    &__image {
        position: relative;
        height: 400px;
        overflow: hidden;
        border-radius: 12px;
        @media(max-width: 1024px){
            height: 300px;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.6s ease;
    }

    &:hover &__img {
        transform: scale(1.05);
    }

    &__info {
        margin-top: 14px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        font-weight: 500;
        color: #540b0e;

        img {
            width: 14px;
        }
    }
}

@media (max-width: 575px) {
    .related-projects__container {
        padding: 0 20px;
    }
}