.three-slider {
      padding: 80px 0;

    &__container {
        // max-width: 1240px;
        margin: 0 auto;
        padding: 0 16px;
        text-align: center;
    }


    &__heading {
        font-size: 40px;
        color: #000;
        margin-bottom: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }
     &__headingText {
        font-size: 18px;
        color: #000;
        margin-bottom: 40px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__swiper {
        height: 520px;
        position: relative;
    }

    &__slide {
        width: 370px;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }

    }

    .swiper-slide-active {
        background-color: #8D5D52;
        padding: 10px;
    }

    .swiper-slide {
        margin: 0 2rem;
    }

    .three-slider__swiper {
        overflow: visible;
    }

    &__controls {
        position: relative;
        margin-top: 20px;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        padding: 0 3rem;
        gap: 24px;

        @media(max-width: 575px){
            margin-top: -45px;
            padding: 0;
        }
    }

    &__btn {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: none;
        color: #000;
        background: none;
        font-size: 40px;
        cursor: pointer;
        // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }

    .three-slider {

        &__text {
            margin-top: -60px;
            text-align: center;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;

            h3 {
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #000;
            }

            p {
                font-size: 16px;
                line-height: 1.6;
                text-transform: uppercase;
                color: #000;
                @media(max-width: 575px){
                    padding-top: 1rem;
                }
            }
        }
    }

    &__pagination {
        width: auto !important;

        .swiper-pagination-bullet {
            background: #999;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: #9c6b4a;
        }
    }

    @media (max-width: 768px) {
        &__swiper {
            height: 460px;
        }

        &__slide {
            width: 280px;
            height: 360px;
        }
    }

    @media (max-width: 480px) {
        &__heading {
            font-size: 26px;
        }
    }
}