.numbers {
  padding: 80px 0;

  &__container {
    // max-width: 1300px;
    // margin: auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;

    @media(max-width: 575px) {
      padding: 0 20px;
    }

  }

  &__label {
    color: #540B0E;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    @media(max-width: 575px){
      font-size: 30px;
    }
  }

  &__subtext {
    font-size: 18px;
    color: #000;
    max-width: 350px;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;

    img {
      //   object-fit: cover;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__card {
    position: relative;
    padding: 40px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: transparent;
    overflow: hidden;
    cursor: pointer;


    transition:
      transform 0.45s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.45s cubic-bezier(0.4, 0, 0.2, 1);


    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: #540B0E;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 0;
    }


    h2 {
      font-size: 64px;
      text-align: right;
      color: #540B0E;
      margin-bottom: 8px;
      font-weight: 500;
      position: relative;
      z-index: 2;
      transition: color 0.35s ease;
    }

    &:hover {
      // transform: translateY(-6px);
      box-shadow: 0 18px 40px rgba(0, 0, 0, 0.18);

      &::before {
        transform: scaleY(1);
      }


    }

    &:hover h2,
    &:hover span,
    &:hover p {
      color: #fff;
    }

    span {
      display: block;
      font-size: 20px;
      font-weight: 400;
      color: #000;
      text-align: right;
      letter-spacing: 1px;
      margin-bottom: 16px;
      position: relative;
      z-index: 2;
      transition: color 0.35s ease;

      &:hover {
        color: #fff;
      }
    }

    p {
      font-size: 16px;
      text-align: left;
      color: #000;
      line-height: 1.4;
      margin: 0px -15px 0 0;
      position: relative;
      z-index: 2;
      transition: color 0.35s ease;

      &:hover {
        color: #fff;
      }
    }


    &:nth-child(-n+2) {
      border-top: 1px solid #000;
    }

    &:nth-last-child(3n) {
      border-right: none;
    }
  }

  &__card--dark {
    background: #540B0E;
    color: #fff;

    h2,
    span,
    p {
      color: #fff;
    }
  }
}

/* Responsive */
@media (max-width: 991px) {
  .numbers {
    &__container {
      grid-template-columns: 1fr;
    }

  }
}

@media (max-width: 576px) {
  .numbers {
    padding: 60px 0;

    &__grid {
      grid-template-columns: 1fr;
    }

    &__card {
      border-right: none;

      &:not(:last-child) {
        border-bottom: 1px solid #999;
      }
    }
  }
}