.projectInfo {
    width: 100%;
    padding: 80px 0;

    &__container {
        padding: 0 50px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 56px;
    }

    &__left {
        flex: 0 0 220px;
        display: flex;
        flex-direction: column;
        // gap: 28px;
        justify-content: space-between; 
        // height: 100%;
        padding-bottom: 2rem;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        color: #540B0E;
        text-transform: uppercase;
    }

    &__button {
        align-self: flex-start;
        background-color: #540B0E;
        color: #ffffff;
        border: none;
        padding: 14px 32px;
        border-radius: 28px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #451010;
        }
    }

    &__middle {
        flex: 1;
        max-width: 520px;
    }

    &__description {
        font-size: 22px;
        line-height: 1.2;
        color: #1E1E1E;
        font-weight: 300;
    }

    &__right {
        flex: 0 0 420px;
    }

    &__imageWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
    }

    &__image {
        object-fit: cover;
        max-width: 100%;
        height: 100%;
        width: 100%;
        display: block;
    }


    @media (max-width: 1024px) {
        &__container {
            gap: 40px;
        }

        &__right {
            flex: 0 0 360px;
        }
    }

    @media (max-width: 768px) {
        padding: 60px 0;

        &__container {
            flex-direction: column;
            align-items: flex-start;
        }

        &__left {
            flex-direction: column;
            align-items: center;
            gap: 24px;
            flex: 0;
            padding-bottom: 0;
        }

        &__middle,
        &__right {
            width: 100%;
        }

        &__imageWrapper {
            //   height: 280px;
        }
    }

    @media (max-width: 575px) {
        padding: 48px 0;

        &__left {
            flex: 0;
            flex-direction: column;
            align-items: flex-start;
        }

        &__right {
            flex: 0;
        }

        &__container {
            padding: 0 20px;
            gap: 20px;
        }

        &__title {
            font-size: 30px;
        }

        &__description {
            font-size: 17px;
        }

        &__button {
            width: 100%;
            text-align: center;
        }

        &__imageWrapper {
            // height: 220px;
        }
    }
}