.accordion-scroll {
  width: 100%;
  // min-height: 200vh;
  padding: 80px 60px;

  &__heading {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #540B0E;
    text-transform: uppercase;
    @media(max-width: 575px){
      font-size: 30px;
    }
  }

  &__box {
    border: 1px solid #000;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid #000;

    &:first-child {
      border-top: none;
    }
  }

  &__title {
    padding: 18px 24px;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #540B0E;
    background: #fff;
    @media(max-width: 575px){
      font-size: 20px;
    }
  }

  &__region {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    @media(max-width: 575px){
      padding: 0;
    }
  }


  &__media {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-top: 16px;
    // border-radius: 6px;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      @media(max-width: 768px){
        height: 60vh;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2),
        transparent
      );
      z-index: 1;
    }
  }

  
  &__overlay {
    position: absolute;
    left: 24px;
    bottom: 50px;
    z-index: 2;
    max-width: 70%;
    color: #fff;
    @media(max-width: 575px){
      max-width: 90%;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 14px;
  }

  &__btn {
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #fff;
      color: #000;
    }
  }


  @media (max-width: 768px) {
    padding: 60px 20px;

    &__media {
      // height: 260px;
    }

    &__overlay {
      // max-width: 100%;
      // left: 16px;
      // right: 16px;
      // bottom: 16px;
    }
  }
}
